// Specific CSS for your home-page

.new-cocktail-btn {
  display: flex;
  align-items: right;
  justify-content: flex-end;
  position: relative;
  padding-top: 10px;
  padding-right: 15px;

}

.card {
  border: none;
}

.card-title {
  display: flex;
  justify-content: center;
}

.btn-secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-back-to-cocktails {
  display: flex;
  justify-content: center;
}
