.new-cocktail-container {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  padding-top: 100px;
}

.back-to-all-cocktails-container {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 25px;
}
