.navbar-lewagon {
  justify-content: flex-start;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 333px;
  height: 33px;
}

.navbar-brand {
  display: flex;
  flex-direction: flex-start;
  position: relative;
  // height: 30px;
  // width: 30px;

}

.nav-name-logo {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: left;
  width: 33px;
  height: 33px;

}

// .nav-name {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: row;
// }

// // .logo-and-name {
// //   display: flex;
// //   position: relative;
// //   flex-direction: row;
// //   align-items: center;

// // }

// .navbar {
//   height: 50px;
// }

// .navbar-container {
// display: flex;
// justify-content: space-between;
// position: relative;
// }
