.navbar-lewagon {
  justify-content: flex-start;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  display: flex;
  flex-direction: row;

}

.nav-name {
  display: flex;
  justify-content: left;
  flex-direction: row;
}

.logo-and-name {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
}
